name: main

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v3

      - name: Install dependencies
        run: |
          pip install sphinx sphinx_rtd_theme myst-parser sphinxcontrib.openapi
          # Install any other required dependencies

      - name: Generate API Documentation
        run: |
          sphinx-apidoc -o source/ -f -M -d 10 ehub-backend-api-docs.json
          sphinx-apidoc -o source/ -f -M -d 10 sender-backend-api-docs.json

      - name: Sphinx build
        run: |
          sphinx-build source/ _build

      - name: Deploy to GitHub Pages
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
